@font-face {
    font-family: sourceSans;
    src: url("/SourceSansPro-Regular.otf");
}

.wrapper {
    width: 400px;
    min-height: 500px;
    position: relative;
    margin: 40px auto;
    background-color: rgb(127, 116, 150);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.message {
    min-height: 400px;
    border: 1px solid black;
    padding: 5px;
}

.display {
    width: 70%;
    height: auto;
    border-radius: 5px;
    min-width: min-content;
    padding: 3px;

}

span {
    display: block;
    background-color: lightblue;
    font-family: 'sourceSans';
    padding: 3px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.button {
    display: grid;
}