@font-face {
    font-family: sourceSans;
    src: url("./font/SourceSansPro-Regular.otf");
}

body {
    background-color: rgb(81, 75, 88);
}

.wrapper {
    min-width: 30%;
    min-height: 500px;
    position: relative;
    margin: 0px auto 120px auto;
    background-color: rgb(127, 116, 150);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.message {
    min-height: 400px;
    /* border: 1px solid black; */
    padding: 5px;
}

.display {
    width: 70%;
    height: auto;
    border-radius: 5px;
    min-width: min-content;
    padding: 3px;

}

span {
    min-width: 70%;
    display: block;
    background-color: lightblue;
    font-family: 'sourceSans';
    padding: 3px;
    margin-bottom: 20px;
    border-radius: 5px;
    min-width: 300px;
}

.button {
    display: grid;
}